# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          export POETRY_VERSION=1.7.1
          curl -sSL https://install.python-poetry.org | python3 -
          poetry install --no-ansi --no-root
      - name: Lint with ruff
        run: |
          poetry run ruff .
      - name: Check black
        run: |
          poetry run black --check --diff .
      - name: Check mypy
        run: |
          poetry run mypy .
      - name: Test with pytest
        run: |
          poetry run pytest --cov --cov-report xml:cov.xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          files: ./cov.xml
          flags: unittests
          name: codecov-umbrella
          verbose: true
